body {
	
	 justify-content : center; 
	 background-size : cover;
     background-color : white ; 
                               text-align : center}
container { 
             display : flex;
	         flex-direction : column;
             align-items : center;			
                                      }

table,
             th,
             td	 { 
			       border : 2px solid black ;
				   background-color : #F0F0F0;
				  
			
				   } 

}	
th { font-weight: bold ;
     color : black;
     font-size : 20px;
   }
 

ul { 
        text-align : center ; 
		list-style-position : inside; 
}
  