*
{ 
    width : auto ; 
    margin : 0;
}
.navbar
{
	overflow : hidden ;
    padding : 20px;
	background-color : #0D3849;
}
.nav li
{
	display : inline-block ;
	float : right ;
	font-weight : bolder ;
	font-size : 20px ;
	text-transform : capitalize ;
	font-variant : small-caps ;
	list-style : none;
}
.nav a{
	text-decoration : none ;
	color : white ;
	padding : 0px 20px 40px 0px;
}
a:hover 
{
	background-color : white ; 
	color : black ;
    padding : 10px;
	border-radius : 30px;
}
@media (max-width : 600px) {
.navbar li
{
	display : block;
	width : 100%;
	float : none;
	text-align : center ;
}
}
.heading
{
	width : 100%;
	height : auto ;
	background-color : gray ;
	color : white ;
	margin-bottom : 60px;
	padding: 30px 0 30px 0;
	text-align :  center  ;
}
.sidebar 
{
	display : flex;
	justify-content : center ;
	align-items : center ;
	border-radius  : 24px;
}

#leftbar, #rightbar
{
	display : inline-block;
	width : 100%;
	border-radius : 24px;
	text-indent : 20px ;
}
@media (max-width : 600px) {
.sidebar, #leftbar, #rightbar
{
	display : block ;
	width : 100%;
}
}
@media (max-width : 600px) {
#leftbar
{
	display : none;
}
}
#form 
{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    padding-top: 25px;
	font-variant : small-caps;
	text-align : center ;
}
form{
  text-align: center;
  width : 100%;
  font-weight : bolder;
  color: silver;
}
input {
  width: 60%;
  
}
textarea{
  width: 60%;
  resize : both;
  overflow : auto;
}
input[value="submit"] 
{
	background-color : gray;
	width : 150px ;
	padding : 10px;
	color : white ;
	border-radius : 10px ;
}
input[value="submit"]:hover
{
	background-color : #0D3849;
	color : white ;
}
img 
{
	width : 100% ; 
	Height: 320px ;
	border-radius : 16px ;
	object-fit : cover;
}